# Replacing values in a DataFrame

This chapter shows the usage of the replace() function for replacing one or multiple values using lists and dictionaries.


Replace scalar values using .replace()
50 XP
Replacing scalar values I
100 XP
Replace scalar values II
100 XP
Replace values using lists
50 XP
Replace multiple values I
100 XP
Replace multiple values II
100 XP
Replace values using dictionaries
50 XP
Replace single values I
100 XP
Replace single values II
100 XP
Replace multiple values III
100 XP
Most efficient method for scalar replacement

In [5]:
import pandas as pd
poker_hands = pd.read_csv("data/poker_hand.csv")
names = pd.read_csv('data/Popular_Baby_Names.csv')

## Replace scalar values using .replace()
- replace is faster than comparing and then replacing

### Replacing scalar values I
In this exercise, we will replace a list of values in our dataset by using the .replace() method with another list of desired values.

We will apply the functions in the poker_hands DataFrame. Remember that in the poker_hands DataFrame, each row of columns R1 to R5 represents the rank of each card from a player's poker hand spanning from 1 (Ace) to 13 (King). The Class feature classifies each hand as a category, and the Explanation feature briefly explains each hand.

The poker_hands DataFrame is already loaded for you, and you can explore the features Class and Explanation.

Remember you can always explore the dataset and see how it changes in the IPython Shell, and refer to the slides in the Slides tab.

In [4]:
# Replace Class 1 to -2 
poker_hands['Class'].replace(1, -2, inplace=True)
# Replace Class 2 to -3
poker_hands['Class'].replace(2, -3, inplace=True)

print(poker_hands[['Class']])

       Class
0          9
1          9
2          9
3          9
4          9
...      ...
25005      0
25006     -2
25007     -2
25008     -2
25009     -2

[25010 rows x 1 columns]

In [28]:
start_time = time.time()

# Replace all the entries that has 'FEMALE' as a gender with 'GIRL'
names['Gender'].loc[names['Gender'] == 'FEMALE'] = 'GIRL'

print("Time using .loc[]: {} sec".format(time.time() - start_time))

Time using .loc[]: 0.003995656967163086 sec

In [30]:
start_time = time.time()

# Replace all the entries that has 'FEMALE' as a gender with 'GIRL'
names['Gender'].replace('FEMALE', 'GIRL', inplace=True)

print("Time using .replace(): {} sec".format(time.time() - start_time))

Time using .replace(): 0.0009999275207519531 sec

## Replace values using lists
- replacing multiple data values 
- padas replace can do list replacement

### Replace multiple values I
In this exercise, you will apply the .replace() function for the task of replacing multiple values with one or more values. You will again use the names dataset which contains, among others, the most popular names in the US by year, gender and Ethnicity.

Thus you want to replace all ethnicities classified as black or white non-hispanics to non-hispanic. Remember, the ethnicities are stated in the dataset as follows: ['BLACK NON HISP', 'BLACK NON HISPANIC', 'WHITE NON HISP' , 'WHITE NON HISPANIC'] and should be replaced to 'NON HISPANIC'

In [32]:
start_time = time.time()

# Replace all non-Hispanic ethnicities with 'NON HISPANIC'
names['Ethnicity'].loc[(names["Ethnicity"] == 'BLACK NON HISP') | 
                      (names["Ethnicity"] == 'BLACK NON HISPANIC') | 
                      (names["Ethnicity"] == 'WHITE NON HISP') | 
                      (names["Ethnicity"] == 'WHITE NON HISPANIC')] = "NON HISPANIC"

print("Time using .loc[]: sec".format(time.time() - start_time))

Time using .loc[]: sec

In [33]:
start_time = time.time()

# Replace all non-Hispanic ethnicities with 'NON HISPANIC'
names['Ethnicity'].replace(['BLACK NON HISP', 'BLACK NON HISPANIC', 'WHITE NON HISP' , 'WHITE NON HISPANIC'], 'NON HISPANIC', inplace=True)

print("Time using .replace(): {} sec".format(time.time() - start_time))

Time using .replace(): 0.0 sec

### Replace multiple values II
As discussed in the video, instead of using the .replace() function multiple times to replace multiple values, you can use lists to map the elements you want to replace one to one with those you want to replace them with.

As you have seen in our popular names dataset, there are two names for the same ethnicity. We want to standardize the naming of each ethnicity by replacing

'ASIAN AND PACI' to 'ASIAN AND PACIFIC ISLANDER'
'BLACK NON HISP' to 'BLACK NON HISPANIC'
'WHITE NON HISP' to 'WHITE NON HISPANIC'
In the DataFrame names, you are going to replace all the values on the left by the values on the right.

In [34]:
start_time = time.time()

# Replace ethnicities as instructed
names['Ethnicity'].replace(['ASIAN AND PACI','BLACK NON HISP', 'WHITE NON HISP'], ['ASIAN AND PACIFIC ISLANDER','BLACK NON HISPANIC','WHITE NON HISPANIC'], inplace=True)

print("Time using .replace(): {} sec".format(time.time() - start_time))

Time using .replace(): 0.0029981136322021484 sec

## Replace values using dictionaries
- replacing with dictionary is faster
- Nested dictionries

### Replace single values I
In this exercise, we will apply the following replacing technique of replacing multiple values using dictionaries on a different dataset.

We will apply the functions in the data DataFrame. Each row represents the rank of 5 cards from a playing card deck, spanning from 1 (Ace) to 13 (King) (features R1, R2, R3, R4, R5). The feature 'Class' classifies each row to a category (from 0 to 9) and the feature 'Explanation' gives a brief explanation of what each class represents.

In [39]:
# Replace Royal flush or Straight flush to Flush
poker_hands.replace({'Royal flush':'Flush', 'Straight flush':'Flush'}, inplace=True)
print(poker_hands['Explanation'].head())

TypeError: Cannot compare types 'ndarray(dtype=int64)' and 'str'

In [40]:
# Replace the number rank by a string
names['Rank'].replace({1:'FIRST', 2:'SECOND', 3:'THIRD'}, inplace=True)
print(names.head())

  Year of Birth Gender                   Ethnicity Child's First Name Count  \
0          Girl   Girl                        Girl               Girl  Girl
1          2011   GIRL  ASIAN AND PACIFIC ISLANDER              CHLOE   106
2          2011   GIRL  ASIAN AND PACIFIC ISLANDER              EMILY    93
3          2011   GIRL  ASIAN AND PACIFIC ISLANDER             OLIVIA    89
4          2011   GIRL  ASIAN AND PACIFIC ISLANDER               EMMA    75

     Rank
0    Girl
1  SECOND
2   THIRD
3       4
4       5

### Replace multiple values III
As you saw in the video, you can use dictionaries to replace multiple values with just one value, even from multiple columns. To show the usefulness of replacing with dictionaries, you will use the names dataset one more time.

In this dataset, the column 'Rank' shows which rank each name reached every year. You will change the rank of the first three ranked names of every year to 'MEDAL' and those from 4th and 5th place to 'ALMOST MEDAL'.

You can already see the first 5 names of the data, which correspond to the 5 most popular names for all the females belonging to the 'ASIAN AND PACIFIC ISLANDER' ethnicity in 2011.

In [41]:
# Replace the rank of the first three ranked names to 'MEDAL'
names.replace({'Rank': {1:'MEDAL', 2:'MEDAL', 3:'MEDAL'}}, inplace=True)

# Replace the rank of the 4th and 5th ranked names to 'ALMOST MEDAL'
names.replace({'Rank': {4:'ALMOST MEDAL', 5:'ALMOST MEDAL'}}, inplace=True)
print(names.head())

  Year of Birth Gender                   Ethnicity Child's First Name Count  \
0          Girl   Girl                        Girl               Girl  Girl
1          2011   GIRL  ASIAN AND PACIFIC ISLANDER              CHLOE   106
2          2011   GIRL  ASIAN AND PACIFIC ISLANDER              EMILY    93
3          2011   GIRL  ASIAN AND PACIFIC ISLANDER             OLIVIA    89
4          2011   GIRL  ASIAN AND PACIFIC ISLANDER               EMMA    75

           Rank
0          Girl
1        SECOND
2         THIRD
3  ALMOST MEDAL
4  ALMOST MEDAL

## Looping using the .iterrows() function